<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body dir="rtl">
<header>
    <p class="title">איזה כיף <span class="orangeTxt">שהצוות מתרחב!</span></p>
    <p class="txt">ברמנים חדשים זה תמיד סיבה למסיבה</p>
    <p class="note">אפשר לערוך את הפרטים תמיד</p>
</header>
<main>
  <form autocomplete="off">
    <div class="container">
      <div class="right">
        <label class="txt">שם פרטי</label>
        <input id="name" name="username" type="text" class="txtbox"/>
      </div>
  <div class="left">
      <label class="txt">שם משפחה</label>
      <input id="familyname" name="username" type="text" class="txtbox"/>
    </div>
  <div class="right">
    <label class="txt">שם משתמש</label>
    <input id="username" name="username" type="text" class="txtbox"/>
    </div>
  <div class="left">
    <label class="txt">סיסמה</label>
    <input id="password" name="password" type="text" class="txtbox"/>
    </div>
  <div class="right">
    <label class="txt">טלפון</label>
    <input id="tel" name="telephone" type="tel" class="txtbox"/>
    </div>
  <div class="left radio">
    <label><input type="radio" name="job" value="" checked>ברמן</label>
    <label><input type="radio" name="job" value="" style="padding-right: 30px;">אחמ"ש</label>
    </div>
    <input type="submit" name="button" value="הצטרפות לצוות המשובח" class="btn"/>
  </div>
  </form>
</main>
</body>
</html>
